*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana,Tahoma, sans-serif;
}
body{
    background-color: #0D0D0D;
}

div{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #D9CDBF;
}
div span{
    font-size: 20vw;
    font-weight: 600;
    text-shadow: -0.08em 0.03em 0.12em rgb(0,0,0,0.9);
}
div span:not(first-child) {
    margin-left: -0.23em;
}
.wer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #F2E4D8;
}
.wer span{
    font-size: 17vw;
    font-weight: 600;
    text-shadow: -0.08em 0.03em 0.12em rgb(0,0,0,0.9);
}
.dev{
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #404040;
}
.dev span{
    font-size: 9vw;
    font-weight: 700;
    text-shadow: -0.08em 0.03em 0.12em rgb(0,0,0,0.9);
}
.end{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #404040;
}
.end span{
    font-size: 7vw;
    font-weight: 700;
    text-shadow: -0.08em 0.03em 0.12em rgb(0,0,0,0.9);
}