@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111111;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    height: 100vh;
}

.perfil {
    height: 150px;
    width: 150px;
    border-radius: 60%;
}


nav {
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}

nav p {
    color: #0594EC;
    font-weight: bold;
    margin: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.burger {
    border: 0;
    cursor: pointer;
    display: none;
    font-size: 22px;
    position: relative;
    padding: 0;
    outline: none;
    height: 30px;
    width: 30px;
}

.burger:active {
    color: #0594EC;
    outline: none;
}

.burger .bar {
    background-color: #0594EC;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    height: 3px;
    width: 20px;
    transition: transform 0.2s ease;
}

.burger .bar:first-of-type {
    top: 40%;
}

.burger .bar:last-of-type {
    top: 60%;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    margin: 0 10px;
}

ul li a {
    color: #2C405E;
    position: relative;
    text-decoration: none;
}

ul li a::after {
    content: '';
    background-color: #2C405E;
    position: absolute;
    bottom: -18px;
    left: 0;
    opacity: 0;
    height: 2px;
    width: 100%;
    transition: transform 0.2s ease;
}

ul li a:hover::after {
    opacity: 1;
    transform: translateY(-15px);
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 2em;
    }

    .burger {
        display: block;
    }

    .burger.show-x .bar:first-of-type {
        transform: translate(-50%, 50%) rotate(225deg);
    }

    .burger.show-x .bar:last-of-type {
        transform: translate(-50%, -150%) rotate(-225deg);
    }

    ul {
        background-color: #fff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 80px;
        left: 10%;
        transform: translateX(120%);
        width: 80%;
        transition: transform 0.3s ease-in;
        z-index: 100;
    }

    ul.show {
        transform: translateX(0);
    }

    ul li {
        margin: 15px;
    }
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}

   /************ Social Mediaaa*******************/

   .footer-social-links {
       font-size: 30px;
       text-align: center;
       margin-top: 10%;
   }

   .footer-social-links a {
       width: 25px;
       height: 25px;
       line-height: 25px;
       position: relative;
       margin: 0 5px;
       text-align: center;
       display: inline-block;
       color: #117964;

       -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
       -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
       -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
       -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
       transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
   }

   .footer-social-links a i,
   .footer-social-links a span {
       position: relative;
       top: 2px;
       left: 1px;
   }

   .footer-social-links a:before {
       content: "";
       display: inline-block;
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       border: 1px solid #111;

       -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
       border-radius: 2px;

       -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
       -o-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       transform: rotate(45deg);

       -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
       -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
       -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
       -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
       transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

   }

   .footer-social-links a:hover {
       color: #fff;
   }

   .footer-social-links a:hover:before {
       background: rgb(22, 199, 146);
   }

   /*...............Sobre..............*/
   #sobre {
       display: flex;
       position: relative;
       height: 100vh;
   }

   .box {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 450px;
       width: 500px;
       color: rgb(221, 183, 183);
       border: 15px solid #117964;
       margin: auto;
       text-align: center;
   }
    /**************** Projetos **********/
    #projetos {
        height: 100vh;
        display: contents;
    }


.heading {
    text-align: center;
    font-size: 2.0em;
    letter-spacing: 1px;
    padding: 40px;
    color: white;
}

.gallery-image {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image img {
    height: 450px;
    width: 310px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 450px;
    width: 310px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    height: 450px;
    width: 310px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.img-box:hover img {
    transform: scale(1.1);
}

.img-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}

.img-box:hover {
    cursor: pointer;
}

.caption>p:nth-child(2) {
    font-size: 0.8em;
}

.opacity-low {
    opacity: 0.5;
}

/********Cotato / Formulario*/
*:focus {
    outline: 0;
}

.wrapper {
    margin: 100px auto 0;
    width: 95%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    margin: 0;
}

form * {
    font-size: 20px;
    letter-spacing: 0.05em;
    font-weight: 300;
    text-transform: none;
    cursor: pointer;
    text-decoration: none;
}

form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

form .field label {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #117964, #372056);
    width: 100%;
    height: 64px;
    transition: width 333ms ease-in-out;
    text-align: center;
    padding: 18px 0;
}

form .field input[type="text"],
form .field textarea {
    border: none;
    width: 100%;
    height: 64px;
    margin: 0;
    padding-left: 30.5%;
    color: #313a3d;
}

form #msg {
    height: 64px;
    resize: none;
    transition: all 333ms ease-in-out;
    padding-top: 18px;
}

form textarea:focus#msg,
form textarea:not(:placeholder-shown)#msg {
    height: 166px;
}

form input[type="text"]:focus+label,
form input[type="text"]:not(:placeholder-shown)+label,
form textarea:focus+label,
form textarea:not(:placeholder-shown)+label,
form .field:hover label {
    width: 28%;
}

form input[type="submit"] {
    background: linear-gradient(90deg, #117964, #812d65);

    border: none;
    position: relative;
    padding: 13px 30px;
    transition: all 0.3s ease-in-out;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
    background: #372056;
}

#contato {
    height: 100vh;
    display: block;
}

/***** Footer **********/

.footr {
    display: flex;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
}

@media (min-width: 350px) {
    ul {
        grid-auto-flow: column;
    }
}

a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.ftr:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.ftr:hover~li p {
    animation: wave-animation 0.3s infinite;
}

/* below is just for demo styling */

footer {
    display: flex;
    height: 250px;
    width: 100%;
    padding: 15px;
    line-height: 1.3;
    font-family: Menlo, monospace;
}

@keyframes wave-animation {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}