@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #111111;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
}

header {
    margin-top: 150px;
    color: #fff;
    text-align: center;
    justify-content: center;
}

img {
    height: 150px;
    width: 150px;
}


nav {
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}

nav p {
    color: #0594EC;
    font-weight: bold;
    margin: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.burger {
    border: 0;
    cursor: pointer;
    display: none;
    font-size: 22px;
    position: relative;
    padding: 0;
    outline: none;
    height: 30px;
    width: 30px;
}

.burger:active {
    color: #0594EC;
    outline: none;
}

.burger .bar {
    background-color: #0594EC;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    height: 3px;
    width: 20px;
    transition: transform 0.2s ease;
}

.burger .bar:first-of-type {
    top: 40%;
}

.burger .bar:last-of-type {
    top: 60%;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    margin: 0 10px;
}

ul li a {
    color: #2C405E;
    position: relative;
    text-decoration: none;
}

ul li a::after {
    content: '';
    background-color: #2C405E;
    position: absolute;
    bottom: -18px;
    left: 0;
    opacity: 0;
    height: 2px;
    width: 100%;
    transition: transform 0.2s ease;
}

ul li a:hover::after {
    opacity: 1;
    transform: translateY(-15px);
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 2em;
    }

    .burger {
        display: block;
    }

    .burger.show-x .bar:first-of-type {
        transform: translate(-50%, 50%) rotate(225deg);
    }

    .burger.show-x .bar:last-of-type {
        transform: translate(-50%, -150%) rotate(-225deg);
    }

    ul {
        background-color: #fff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 80px;
        left: 10%;
        transform: translateX(120%);
        width: 80%;
        transition: transform 0.3s ease-in;
        z-index: 100;
    }

    ul.show {
        transform: translateX(0);
    }

    ul li {
        margin: 15px;
    }
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}